@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=M+PLUS+Rounded+1c:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'M PLUS Rounded 1c', 'Lato', sans-serif;
    background: #FBFBFB;
    overflow: hidden;
}