header {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 16px 20px;
}

/* Logo */
.logo-box {
    width: 40px;
    height: 40px;
    background-color: black;
} 

/* Nav Links */
.navlinks-container {
    position: absolute;
    top: 0;
    right: 0;

    transform: translateX(100%);

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FBFBFB;

    transition: all .3s;
}

.navlinks-container.active {
    transform: translateX(0);
}

.navlinks-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
}

.navlinks-container ul li + li {
    margin-top: 16px;
    margin-left: 0px;
}

.navlinks-container ul li a {
    text-decoration: none;
    font: 800 20px 'M PLUS Rounded 1c';
    color: #313131;
}

/* Burguer Menu */
.burger-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
    z-index: 1;
}

.burger-box div {
    width: 26px;
    height: 3px;

    background-color: #313131;

    transition: all .3s;
}

.burger-box div.active:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 5px);;
}

.burger-box div.active:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
}

.burger-box div.active:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -5px);
}

.burger-box div + div {
    margin-top: 5px;
}

@media screen and (min-width: 720px) {
    .burger-box {
        display: none;
    }

    .navlinks-container {
        position: relative;

        width: initial;
        height: initial;

        transform: translate(0);
    }

    .navlinks-container ul {
        flex-direction: row;
    }

    .navlinks-container ul li + li {
        margin-top: 0px;
        margin-left: 28px;
    }
}